DATA_GO_KR_SERVICE_KEY=your_common_data_go_kr_service_key
PUBLIC_WELFARE_API_URL=your_public_welfare_api_url
LOCAL_WELFARE_API_URL=your_local_welfare_api_url
KODDI_REPORT_API_URL=
KODDI_REPORT_SERVICE_KEY=
KPF_NEWS_METADATA_API_URL=
KPF_NEWS_METADATA_SERVICE_KEY=
